{{>cabecalho}}
<div class="row paineladm">
<div class="row">
	<div class="large-4 columns">
	</div>
	<div class="large-4 columns">
		<h1>Erro 404</h1>
	</div>
	<div class="large-4 columns">
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<div class="panel">
			<h4><strong>Opa!</strong> Página não encontrada!</h4>
			<div class="row">
				<div class="large-9 columns">
					<p></p>
				</div>
				<div class="large-3 columns">
					<a href="javascript: history.go(-1);" class="button radius alert right">	Voltar
					</a>
				</div>
			</div>
		</div>	
	</div>
</div>
</div>

{{>rodape}}
        
