{{>cabecalho}}
{{>menuAluno}}
<div class="row paineladm">
    <br/>
    <div class="large-10 columns">
        <p><strong>Bem-Vindo, aluno!</strong> Para entender mais como funciona o sistema de rematrículas acesse os links abaixo.</p>
        <ul class="inline-list">
            <li>
                <a href="http://www.liberato.com.br/sites/default/files/ti_noturno_2015_1_final.pdf">Horários Noturno 2015/1</a>
            </li>
            <li>
                <a href="http://www.liberato.com.br/sites/default/files/fluxograma_curso_tecnico_de_informatica_para_internet_-_2013_2.pdf">Fluxograma do Curso</a>
            </li>
            <li>
                <a href="http://www.liberato.com.br/sites/default/files/arquivos/cursos-tecnicos/grade-curricular/matriz_curricular_plano_de_curso.pdf">Grade Curricular</a>
            </li>
        </ul>
    </div>
</div>
{{>rodape}}
        
