{{>cabecalho}}
{{>menuAdmin}}
<div class="row paineladm">
	<div class="small-5 columns small-centered">
		<form action="/inserir-disciplina" method="post" class="custom">
			<fieldset>
				<legend>Cadastrar nova disciplina(s)</legend>
				<label>Curso</label>
		        <select name="codCurso" onchange="trocaPreRequisito(this.value)" autofocus required>
		        	<option selected disabled>Selecione um Curso</option>
		        {{#cursos}}
		          	<option value="{{codigo}}">{{nomeCurso}}</option>
		        {{/cursos}}
		        </select>
		        <label>Semestre</label>
		        <select name="semestre" required>
		        	<option selected disabled>Selecione um Semestre</option>
		          	<option value="1">1° Semestre</option>
		          	<option value="2">2° Semestre</option>
		          	<option value="3">3° Semestre</option>
		          	<option value="4">4° Semestre</option>
		        </select>
				<label>Nome da Disciplina</label>
				<input type="text" name="nomeDisciplina" value="" class="five" required />
				<label>Pré-Requisito(s)</label>
				<select id="preRequisito" name="preRequisito">
					<option value="">Nenhum Pré-Requisito</option>
				</select>
				<a href="/administrador-index" class="button radius alert espaco">
					Cancelar
				</a>
				<input type="submit" name="cadastrar" value="Salvar Dados" class="button radius"  />
			</fieldset>
		</form>
	</div>
</div>
<script>
function trocaPreRequisito(val) {
    $.ajax({
		url: '/listar/pre-requisito?codigoCurso=' + val,
		type: 'POST'
	}).done(function(data) {					
		var template = '<option value="${codigo}">${nomeDisciplina}</option>';
		$('#preRequisito').empty();
			for(var i = 0; i < data.length; i++) {   
				var html = template.replace('${codigo}', data[i].codigo)
								   .replace('${nomeDisciplina}', data[i].nomeDisciplina);
			$('#preRequisito').append(html);
			}
	});
}
</script>
{{>rodape}}
		