{{>cabecalho}}
{{>menuAdmin}}
<div class="row paineladm">
	<div class="small-5 columns small-centered">
		<form action="/inserir-disciplina" method="post" class="custom">
			<fieldset>
				<legend>Cadastrar nova disciplina(s)</legend>
				<label>Curso</label>
		        <select name="codCurso" autofocus required>
		        {{#cursos}}
		          	<option value="{{codigo}}">{{nomeCurso}}</option>
		        {{/cursos}}
		        </select>
				<label>Nome da Disciplina</label>
				<input type="text" name="nomeDisciplina" value="" class="five" required />
				<label>Pré-Requisito(s)</label>
	            <select name="preRequisito">
	            {{#prerequisito}}
	                <option value="{{codigo}}">{{nomeDisciplina}}</option>
	            {{/prerequisito}}
	            </select>
				<a href="" class="button radius alert espaco">
					Cancelar
				</a>
				<input type="submit" name="cadastrar" value="Salvar Dados" class="button radius"  />
			</fieldset>
		</form>
	</div>
</div>
{{>rodape}}
		