{{>cabecalho}}
{{>menuAdmin}}
<div class="row paineladm">
	<div class="small-5 columns small-centered">
		<form action="/inserir-curso" method="post" class="custom">
			<fieldset>
				<legend>Cadastrar novo curso</legend>
				<label>Nome do Curso</label>
				<input type="text" name="nomeCurso" class="five" autofocus required />
				<a href="/administrador-index" class="button radius alert espaco">Cancelar</a>
				<input type="submit" value="Salvar Dados" class="button radius"  />
			</fieldset>
		</form>
	</div>
</div>
{{>rodape}}
		