{{>cabecalho}}
{{>menuAdmin}}
<div class="row paineladm">
	<div class="small-5 columns small-centered">
		<form action="" method="post" class="custom">
			<fieldset>
				<legend>Cadastrar novo curso</legend>
				<label>Nome do Curso</label>
				<input type="text" name="nome_curso" value="" class="five" autofocus />
				<a href="" class="button radius alert espaco">Cancelar</a>
				<input type="submit" name="cadastrar" value="Salvar Dados" class="button radius"  />
			</fieldset>
		</form>
	</div>
</div>
{{>rodape}}
		