{{>cabecalho}}
{{>menuAdmin}}
<div class="small-5 columns small-centered">
	<form action="/inserir-aluno" method="post" accept-charset="utf-8" class="custom">
		<fieldset>
			<legend>Cadastrar novo aluno(a)</legend>
			<label>Nome Completo</label>
			<input type="text" name="nomeCompleto" class="five" required />
			<label>CPF</label>
			<input type="text" name="cpf" class="five" required />
			<label>Data de Nascimento</label>
			<input type="text" name="dataNascimento" class="five" required />
			<label>Nome do Pai</label>
			<input type="text" name="nomePaiAluno" class="five" required />
			<label>Nome da Mãe</label>
			<input type="text" name="nomeMaeAluno" class="five" required />
			<label>Email</label>
			<input type="text" name="email" class="five" required />
			<select onchange="trocaEstado(this.value)" required>
		        <option selected disabled>Selecione um Estado</option>
		        {{#estados}}
		          	<option value="{{codigo}}">{{uf}}</option>
		        {{/estados}}
		    </select>
		    <label>Cidade</label>
		    <select id="cidade" name="codigoCidade" required>
		    </select>
			<label>Matrícula</label>
			<input type="text" name="loginUsuario" class="five" required />
			<label>Senha</label>
			<input type="password" name="senhaUsuario" class="five" required />
			<label>Repita a senha</label>
			<input type="password" name="senha2" class="five" required />
			<a href="" class="button radius alert espaco">
				Cancelar
			</a>
			<input type="submit" name="cadastrar" value="Salvar Dados" class="button radius"  />
		</fieldset>
	</form>
</div>
<script>
	function trocaEstado(val) {
	    $.ajax({
			url: '/listar/cidade?codigoEstado=' + val,
			type: 'POST'
		}).done(function(data) {					
			var template = '<option value="${codigo}">${nomeCidade}</option>';
			$('#cidade').empty();
				for(var i = 0; i < data.length; i++) {   
					var html = template.replace('${codigo}', data[i].codigo)
									   .replace('${nomeCidade}', data[i].nomeCidade);
				$('#cidade').append(html);
				}
		});
	}
</script>
{{>rodape}}
