{{>menuAdmin}}
<div class="small-5 columns small-centered">
	<form action="" method="post" accept-charset="utf-8" class="custom">
		<fieldset>
			<legend>Cadastrar nova disciplina(s)</legend>
			<label>Número da Turma</label>
			<input type="text" name="cod_turma" value="" class="five" autofocus />
			<label>Código da Disciplina</label>
			<input type="text" name="cod_disc" value="" class="five" autofocus />
			<a href="" class="button radius alert espaco">
				Cancelar
			</a>
			<input type="submit" name="cadastrar" value="Salvar Dados" class="button radius"  />	
		</fieldset>
	</form>
</div>
{{>rodape}}
