{{>cabecalho}}
{{>menuAdmin}}
<div class="small-5 columns small-centered">
	<form action="" method="post" accept-charset="utf-8" class="custom">
		<fieldset>
			<legend>Cadastrar nova turma(s)</legend>
			<label>Disciplina</label>
		    <select autofocus required>
		       	<option value=""></option>
		    </select>
		    <label>Número da Turma</label>
			<input type="text" name="turma" class="five" required />
			<label>Professor</label>
		    <select required>
		        <option value=""></option>
		    </select>
			<a href="" class="button radius alert espaco">
				Cancelar
			</a>
			<input type="submit" name="cadastrar" value="Salvar Dados" class="button radius"  />	
		</fieldset>
	</form>
</div>
{{>rodape}}
