{{>cabecalho}}
{{>menuAdmin}}
<div class="row paineladm">
    <div class="small-5 columns small-centered">
        <div class="twelve columns">
            <table class="twelve data-table">
                <thead>
                    <tr>
                        <th>Nome do Curso</th>
                        <th class="text-center">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {{#cursos}}
                    <tr>
                        <td>{{nomeCurso}}</td>
                        <td class="text-center">
                            <a href="/deletar-curso?codigo={{codigo}}"  class="button radius tiny alert"> 
                                Deletar
                            </a>
                        </td>
                    </tr>
                    {{/cursos}} 
               </tbody>
            </table>
        </div>
    </div>
</div>
{{>rodape}}
        
