{{>menuAdmin}}
<div class="row paineladm">
    <div class="small-5 columns small-centered">
        <div class="twelve columns ">
            <table class="twelve data-table">
                <thead>
                    <tr>
                        <th>Nome do Curso</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Técnico em informática para Internet</td>
                        <td class="text-center">
                            <a href="" class="table-actions table-edit" title="Editar">
                            </a>
                            <a href="" class="table-actions table-pass" title="Alterar Senha">
                            </a>
                            <a href="" class="table-actions table-delete deletareg" title="Excluir">
                            </a>
                        </td>
                    </tr> 
               </tbody>
            </table>
        </div>
    </div>
</div>
{{>rodape}}
        
