		<div class="row header">
			<div class="eight columns">
				<a href="">
					<img class="img-logo" src="../img/logo.png" alt="Logo Liberato">
				</a>
			</div>
			<div class="four columns">
				<p class="text-right">Logado como <strong>{{#loginUsuario}} {{loginUsuario}} {{/loginUsuario}}</strong></p>
				<p class="text-right">
					<a href="/aluno/rematricula" class="button radius tiny">
						Alterar senha
					</a>
					<a href="/logout" class="button radius tiny alert">
						Sair
					</a>
				</p>
			</div>
		</div>
		<div class="row">
			<nav class="top-bar" data-topbar role="navigation">
				<ul class="title-area">
				    <li class="name">
				    	<h1><a href="#"></a></h1>
				    </li>
				    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
				</ul>
				<section class="top-bar-section">
					<ul class="left">
				    	<li class="has-dropdown">
				        	<a href="#">Cursos</a>
				        	<ul class="dropdown">
				          		<li class="active"><a href="/cadastrar/curso">Cadastrar</a></li>
				          		<li class="active"><a href="/listar/curso">Gerenciar</a></li>
				        	</ul>
				      	</li>
				      	<li class="has-dropdown">
				        	<a href="#">Disciplinas</a>
				        	<ul class="dropdown">
				          		<li class="active"><a href="/cadastrar/disciplina">Cadastrar</a></li>
				          		<li class="active"><a href="/listar/disciplina">Gerenciar</a></li>
				        	</ul>
				      	</li>
				      	<li class="has-dropdown">
				        	<a href="#">Professores</a>
				        	<ul class="dropdown">
				        		<li class="active"><a href="/cadastrar/professor">Cadastrar</a></li>
				          		<li class="active"><a href="/listar/professor">Gerenciar</a></li>
				        	</ul>
				      	</li>
				      	<li class="has-dropdown">
				        	<a href="#">Turmas</a>
				        	<ul class="dropdown">
				          		<li class="active"><a href="/cadastrar/turma">Cadastrar</a></li>
				          		<li class="active"><a href="/listar/turma">Gerenciar</a></li>
				        	</ul>
				      	</li>
				      	<li class="has-dropdown">
				        	<a href="#">Alunos</a>
				        	<ul class="dropdown">
				        		<li class="active"><a href="/cadastrar/aluno">Cadastrar</a></li>
				          		<li class="active"><a href="/listar/aluno">Gerenciar</a></li>
				        	</ul>
				      	</li>	
				    </ul>
				</section>
			</nav>
		</div>