<!DOCTYPE html>
<html class="no-js" lang="pt-br">
	<head>
	    <meta charset="utf-8" />
	    <title>login | Liberato</title>
		{{>scriptHead}}   
	</head>
	<body>
		<div class="row paineladm">
			<div class="row">
				<div class="small-5 columns small-centered">
					<form action="/loginValida" method="post" class="custom loginform">
						<fieldset>
							<legend>Identifique-se</legend>
							<label>Usuário</label>
							<input type="text" name="loginUsuario" value="" autofocus required/>
							<label>Senha</label>
							<input type="password" name="senhaUsuario" value=""  required/>
							<input type="submit" name="logar" value="Login" class="button radius right"  />
						</fieldset>
					</form>
				</div>	
			</div>		
		</div>
	  	<div class="row rodape">
	  		<div class="twelve columns text-center">			
	  		</div>
	  	</div>
	  </body>
</html>